<tr>
<td class="ui-widget-content" align="center"><a href="groupcp.php?action=group_modify&amp;id={GROUPID}">{LANG-MODIFY}</a>&nbsp;|&nbsp;<a href="#" onclick="del_confirm({GROUPID});return false;">{LANG-DELETE}</a></td>
<td class="ui-widget-content">{GROUPNAME}</td>
<td class="ui-widget-content" align="center">{GROUPSTATUS}</td>
<td class="ui-widget-content" align="center">{GROUPACCESSLEVEL}</td>
<td class="ui-widget-content" align="center"><a href="groupcp.php?action=group_memberlist&amp;id={GROUPID}">{VIEWMEMBERLIST}</a> -  <a href="groupcp.php?action=pendinglist&amp;id={GROUPID}">{LANG-PENDINGLIST}</a></td>
</tr>
