<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-GROUPSETUP}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<p class="ui-widget-content">[<a href="groupcp.php?action=new_group">{LANG-NEWGROUP}</a>] - [<a href="groupcp.php?action=manageprofile">{LANG-MANAGEPROFILE}</a>]</p>
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="6" class="ui-widget-header" align="center"><b>::{LANG-GROUPSETUP}::</b></td>
</tr><tr>
<td class="ui-widget-content" width="10%">&nbsp;</td>
<td class="ui-widget-content" align="center" width="20%">{LANG-GROUPNAME}</td>
<td class="ui-widget-content" align="center" width="20%">{LANG-GROUPSTATUS}</td>
<td class="ui-widget-content" align="center" width="10%">{LANG-GROUPACCESS}</td>
<td class="ui-widget-content" align="center" width="20%">{LANG-GROUPOPTIONS}</td>
</tr>
