<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-GROUPMEMBERLIST}</div><br />

<p class="td2">{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="5" class="ui-widget-header">::{LANG-GROUPMEMBERS}::</th>
</tr><tr>
<td class="ui-widget-header" width="20%">&nbsp;</td>
<td class="ui-widget-header" width="20%">&nbsp;</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-USERNAME}</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-POSTCOUNT}</td>
<td class="v" width="20%" align="center">{LANG-REGISTRATIONDATE}</td>
</tr>
<!-- START noresults -->
<tr>
<td class="ui-widget-content" colspan="5" align="center">{LANG-NOMEMBERS}</td>
</tr>
<!-- END noresults -->
