<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-MANAGEPROFILE}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'newitem')" class="td2">{LANG-NEWPROFILE}</a><br /><br />

<div id="newitem" class="anylinkcss">
<a href="groupcp.php?action=new_profile&amp;type=1">{LANG-ADMINPROFILE}</a>
<a href="groupcp.php?action=new_profile&amp;type=2">{LANG-MODERATORPROFILE}</a>
<a href="groupcp.php?action=new_profile&amp;type=3">{LANG-MEMBERPROFILE}</a>
</div>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="6" class="ui-widget-header" align="center"><b>::{LANG-MANAGEPROFILE}::</b></td>
</tr><tr>
<td class="ui-widget-content" width="33%">&nbsp;</td>
<td class="ui-widget-content" align="center" width="34%">{LANG-PROFILE}</td>
<td class="ui-widget-content" align="center" width="33%">{LANG-ACCESSLEVEL}</td>
</tr>
