<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-MODIFYGROUP}</div><br />

<form method="post" action="groupcp.php?action=modify_group_process&amp;id={ID}">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-MODIFYGROUP}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPNAME}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="group" size="30" class="text" value="{GROUPNAME}" maxlength="30" id="groupname" onblur="validateNotNull('groupname', 'groupnameerr');" /><div id="groupnameerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPDESCRIPTION}</td>
<td class="ui-widget-content" width="50%"><textarea name="description" rows="3" cols="50" wrap="soft" class="text" id="groupdesc" onblur="validateNotNull('groupdesc', 'groupdescerr');">{GROUPDESCRIPTION}</textarea><div id="groupdescerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPSTATUS}</td>
<td class="ui-widget-content" width="50%">
<!-- START closedStatus -->
<input type="radio" name="status" value="0" checked=checked />{LANG-CLOSE}&nbsp;<input type="radio" name="status" value="1" />{LANG-OPEN}&nbsp;<input type="radio" name="status" value="2" />{LANG-HIDDEN}
<!-- END closedStatus -->

<!-- START openStatus -->
<input type="radio" name="status" value="0" />{LANG-CLOSE}&nbsp;<input type="radio" name="status" value="1" checked=checked />{LANG-OPEN}&nbsp;<input type="radio" name="status" value="2" />{LANG-HIDDEN}
<!-- END openStatus -->

<!-- START hiddenStatus -->
<input type="radio" name="status" value="0" />{LANG-CLOSE}&nbsp;<input type="radio" name="status" value="1" />{LANG-OPEN}&nbsp;<input type="radio" name="status" value="2" checked=checked />{LANG-HIDDEN}
<!-- END hiddenStatus -->
</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPACCESS}</td>
<td class="ui-widget-content" width="50%">
<!-- START L1Access -->
<select name="groupaccess" class="text" id="grouplevel" onblur="validateNotNull('grouplevel', 'grouplevelerr');">
<option value="">{LANG-SEL-LEVEL}</option>
<option value="1" selected=selected>{LANG-LEVEL-1}</option>
<option value="2">{LANG-LEVEL-2}</option>
<option value="3">{LANG-LEVEL-3}</option>
</select><div id="grouplevelerr"></div>
<!-- END L1Access -->

<!-- START L2Access -->
<select name="groupaccess" class="text" id="grouplevel" onblur="validateNotNull('grouplevel', 'grouplevelerr');">
<option value="">{LANG-SEL-LEVEL}</option>
<option value="1">{LANG-LEVEL-1}</option>
<option value="2" selected=selected>{LANG-LEVEL-2}</option>
<option value="3">{LANG-LEVEL-3}</option>
</select><div id="grouplevelerr"></div>
<!-- END L2Access -->

<!-- START L3Access -->
<select name="groupaccess" class="text" id="grouplevel" onblur="validateNotNull('grouplevel', 'grouplevelerr');">
<option value="">{LANG-SEL-LEVEL}</option>
<option value="1">{LANG-LEVEL-1}</option>
<option value="2">{LANG-LEVEL-2}</option>
<option value="3" selected=selected>{LANG-LEVEL-3}</option>
</select><div id="grouplevelerr"></div>
<!-- END L3Access -->
</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPPROFILE}<a href="#" class="hint">[?]<span>{LANG-GROUPPROFILEHINT}</span></a></td>
<td class="ui-widget-content" width="50%">{GROUPPROFILE}</td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-MODIFYGROUP}" class="submit" /></td>
</tr>
</table>
</form><br />
