<tr>
<td class="ui-widget-content" width="50%">{LANG-ACTION}</td>
<td class="ui-widget-content" width="50%">
<!-- START value0 -->
<input type="radio" name="{LANG-ACTIONCODE}" value="1" />{LANG-YES} <input type="radio" name="{LANG-ACTIONCODE}" value="0" checked=checked />{LANG-NO}
<!-- END value0 -->

<!-- START value1 -->
<input type="radio" name="{LANG-ACTIONCODE}" value="1" checked=checked />{LANG-YES} <input type="radio" name="{LANG-ACTIONCODE}" value="0" />{LANG-NO}
<!-- END value1 -->
</td>
</tr>
