<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-USERSETTINGS}</div><br />

<form method="post" action="acpsettings.php?section=save_user">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" align="center" class="ui-widget-header">{LANG-USERSETTINGS}</td>
</tr><tr>
<td class="ui-widget-content">{LANG-TOSSTAT}</td>
<td class="ui-widget-content">
<!-- START tosOn -->
<input type="radio" name="term_stat" value="1" class="text" checked=checked />{LANG-ON} <input type="radio" name="term_stat" value="0" class="text" />{LANG-OFF}
<!-- END tosOn -->

<!-- START tosOff -->
<input type="radio" name="term_stat" value="1" class="text" />{LANG-ON} <input type="radio" name="term_stat" value="0" class="text" checked=checked />{LANG-OFF}
<!-- END tosOff -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-TOS}</td>
<td class="ui-widget-content"><textarea name="term_msg" rows="3" cols="50" wrap="soft" class="text">{TOS}</textarea></td>
</tr><tr>
<td class="ui-widget-content">{LANG-REG-STAT}</td>
<td class="ui-widget-content">
<!-- START regOn -->
<input type="radio" name="reg_stat" value="1" class="text" checked=checked />{LANG-ON} <input type="radio" name="reg_stat" value="0" class="text" />{LANG-OFF}
<!-- END regOn -->

<!-- START regOff -->
<input type="radio" name="reg_stat" value="1" class="text" />{LANG-ON} <input type="radio" name="reg_stat" value="0" class="text" checked=checked />{LANG-OFF}
<!-- END regOff -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-ACTIVE-TYPE}</td>
<td class="ui-widget-content">
<!-- START activateNone -->
<input type="radio" name="active_stat" value="None" class="text" checked=checked />{LANG-NONE} <input type="radio" name="active_stat" value="User" class="text" />{LANG-USER} <input type="radio" name="active_stat" value="Admin" class="text" />{LANG-ADMIN}
<!-- END activateNone -->

<!-- START activateUser -->
<input type="radio" name="active_stat" value="None" class="text" />{LANG-NONE} <input type="radio" name="active_stat" value="User" class="text" checked=checked />{LANG-USER} <input type="radio" name="active_stat" value="Admin" class="text" />{LANG-ADMIN}
<!-- END activateUser -->

<!-- START activateAdmin -->
<input type="radio" name="active_stat" value="None" class="text" />{LANG-NONE} <input type="radio" name="active_stat" value="User" class="text" />{LANG-USER} <input type="radio" name="active_stat" value="Admin" class="text" checked=checked />{LANG-ADMIN}
<!-- END activateAdmin -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-USERSTAT}</td>
<td class="ui-widget-content">{USERSTAT}</td>
</tr><tr>
<td class="ui-widget-content">{LANG-COPPAVALIDATION}</td>
<td class="ui-widget-content">
<!-- START ageNone -->
<select name="coppa" class="text">
<option value="0" selected=selected>{LANG-NONE}</option>
<option value="13">{LANG-AGE13}</option>
<option value="16">{LANG-AGE16}</option>
<option value="18">{LANG-AGE18}</option>
<option value="21">{LANG-AGE21}</option>
</select>
<!-- END ageNone -->

<!-- START age13 -->
<select name="coppa" class="text">
<option value="0">{LANG-NONE}</option>
<option value="13" selected=selected>{LANG-AGE13}</option>
<option value="16">{LANG-AGE16}</option>
<option value="18">{LANG-AGE18}</option>
<option value="21">{LANG-AGE21}</option>
</select>
<!-- END age13 -->

<!-- START age16 -->
<select name="coppa" class="text">
<option value="0">{LANG-NONE}</option>
<option value="13">{LANG-AGE13}</option>
<option value="16" selected=selected>{LANG-AGE16}</option>
<option value="18">{LANG-AGE18}</option>
<option value="21">{LANG-AGE21}</option>
</select>
<!-- END age16 -->

<!-- START age18 -->
<select name="coppa" class="text">
<option value="0">{LANG-NONE}</option>
<option value="13">{LANG-AGE13}</option>
<option value="16">{LANG-AGE16}</option>
<option value="18" selected=selected>{LANG-AGE18}</option>
<option value="21">{LANG-AGE21}</option>
</select>
<!-- END age18 -->

<!-- START age21 -->
<select name="coppa" class="text">
<option value="0">{LANG-NONE}</option>
<option value="13">{LANG-AGE13}</option>
<option value="16">{LANG-AGE16}</option>
<option value="18">{LANG-AGE18}</option>
<option value="21" selected=selected>{LANG-AGE21}</option>
</select>
<!-- END age21 -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-IMGVERT}<a href="#" class="hint">[?]<span>{LANG-GDREQ}</span></a></td>
<td class="ui-widget-content">
<!-- START captchaOn -->
<input type="radio" name="captcha" value="1" class="text" checked=checked />{LANG-ON} <input type="radio" name="captcha" value="0" class="text" />{LANG-OFF}
<!-- END captchaOn -->

<!-- START captchaOff -->
<input type="radio" name="captcha" value="1" class="text" />{LANG-ON} <input type="radio" name="captcha" value="0" class="text" checked=checked />{LANG-OFF}
<!-- END captchaOff -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-MXCHECK}<a href="#" class="hint">[?]<span>{LANG-MXCHECKHINT}</span></a></td>
<td class="ui-widget-content">
<!-- START mxYes -->
<input type="radio" name="mx_stat" value="1" class="text" checked=checked />{LANG-YES} <input type="radio" name="mx_stat" value="0" class="text" />{LANG-NO}
<!-- END mxYes -->

<!-- START mxNo -->
<input type="radio" name="mx_stat" value="1" class="text" />{LANG-YES} <input type="radio" name="mx_stat" value="0" class="text" checked=checked />{LANG-NO}
<!-- END mxNo -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-WARNINGTHRESHOLD}<a href="#" class="hint">[?]<span>{LANG-WARNINGTHRESHOLD-HINT}</span></a></td>
<td class="ui-widget-content">
<!-- START warn30 -->
<select name="warnthreshold" class="text">
<option value="30" selected=selected>30</option>
<option value="40">40</option>
<option value="50">50</option>
<option value="60">60</option>
<option value="70">70</option>
<option value="80">80</option>
<option value="90">90</option>
<option value="100">100</option>
</select>
<!-- END warn30 -->

<!-- START warn40 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40" selected=selected>40</option>
<option value="50">50</option>
<option value="60">60</option>
<option value="70">70</option>
<option value="80">80</option>
<option value="90">90</option>
<option value="100">100</option>
</select>
<!-- END warn40 -->

<!-- START warn50 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40">40</option>
<option value="50" selected=selected>50</option>
<option value="60">60</option>
<option value="70">70</option>
<option value="80">80</option>
<option value="90">90</option>
<option value="100">100</option>
</select>
<!-- END warn50 -->

<!-- START warn60 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40">40</option>
<option value="50">50</option>
<option value="60" selected=selected>60</option>
<option value="70">70</option>
<option value="80">80</option>
<option value="90">90</option>
<option value="100">100</option>
</select>
<!-- END warn60 -->

<!-- START warn70 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40">40</option>
<option value="50">50</option>
<option value="60">60</option>
<option value="70" selected=selected>70</option>
<option value="80">80</option>
<option value="90">90</option>
<option value="100">100</option>
</select>
<!-- END warn70 -->

<!-- START warn80 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40">40</option>
<option value="50">50</option>
<option value="60">60</option>
<option value="70">70</option>
<option value="80" selected=selected>80</option>
<option value="90">90</option>
<option value="100">100</option>
</select>
<!-- END warn80 -->

<!-- START warn90 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40">40</option>
<option value="50">50</option>
<option value="60">60</option>
<option value="70">70</option>
<option value="80">80</option>
<option value="90" selected=selected>90</option>
<option value="100">100</option>
</select>
<!-- END warn90 -->

<!-- START warn100 -->
<select name="warnthreshold" class="text">
<option value="30">30</option>
<option value="40">40</option>
<option value="50">50</option>
<option value="60">60</option>
<option value="70">70</option>
<option value="80">80</option>
<option value="90">90</option>
<option value="100" selected=selected>100</option>
</select>
<!-- END warn100 -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-PMQUOTA}</td>
<td class="ui-widget-content"><input type="text" name="pm_quota" size="5" value="{PMQUOTA}" maxlength="4" class="text" id="pmquota" onblur="validateNumeric('pmquota', 'pmquoteerr');" /><div id="pmquoteerr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-ARCHIVEQUOTA}</td>
<td class="ui-widget-content"><input type="text" name="archive_quota" size="5" value="{ARCHIVEQUOTA}" maxlength="4" class="text" id="archivequota" onblur="validateNumeric('archivequota', 'archivepmreqerr');" /><div id="archivepmreqerr"></div></td>
</tr><tr>
<td colspan="2" align="center" class="ui-widget-header"><input type="submit" Value="{LANG-SAVESETTINGS}" class="submit"></td>
</tr>
</table>
</form><br />
