<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-WARNLOG}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<p><a href="#" onclick="confirmDlg('{LANG-CLEARPROMPT}', '{BOARDDIR}/acp/usercp.php?action=clearwarnlog');return false;" class="td2">{LANG-DELETE}</a></p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="5" class="ui-widget-header">::{LANG-WARNLOG}::</th>
</tr><tr>
<td class="ui-widget-header" width="20%" align="center">&nbsp;</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-PROFORMEDBY}</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-PROFORMEDTO}</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-ACTION}</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-REASON}</td>
</tr>
