<!-- START titlebar -->
<div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />
<!-- END titlebar -->

<!-- START errmsg -->
<div class="ui-widget" id="errorMsg">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
  		<span><strong>{LANG-TITLE}</strong>&nbsp;{ERRORMSG}</span>
		<span style="float: right;"><strong><a href="#" onclick="$('#errorMsg').hide('blind', {}, 500);">X</a></strong></span></p>
	</div>
</div>
<!-- END errmsg -->