<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<form method="post" action="login.php?mode=process_lostpassword">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">::{LANG-TITLE}::</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-USERNAME}<br>[<a href="register.php">{LANG-REGISTER}</a>]</td>
<td class="ui-widget-content" width="50%"><input type="text" name="lost_user" class="text" size="30" id="usr" onblur="validateAlphaNumeric('usr', 'usrerr');" /><div id="usrerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-EMAIL}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="lost_email" class="text" size="30" id="email" onblur="validateEmail('email', 'emailerr');" /><div id="emailerr"></div></td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-GETPASS}" class="submit" /></td>
</tr>
</table>
</form>
