<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<br /><div class="ui-widget-content">{PAGENATION}</div><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr align="center">
<td class="ui-widget-header" width="25%">{LANG-USERNAME}</td>
<td class="ui-widget-header" width="25%">{LANG-POSTCOUNT}</td>
<td class="ui-widget-header" width="25%">{LANG-LOCATION}</td>
<td class="ui-widget-header" width="25%">{LANG-REGISTRATIONDATE}</td>
</tr>
