<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" colspan="2" align="center">{LANG-IPINFO}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-IP}</td>
<td class="ui-widget-content" width="50%">{IP}&nbsp;[<a href="manage.php?mode=dnslookup&amp;ip={IP}&amp;bid={BID}&amp;tid={TID}">{LANG-DNSLOOKUP}</a>]</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-USERNAME}</td>
<td class="ui-widget-content" width="50%">{USERNAME}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-TOTALCOUNT}</td>
<td class="ui-widget-content" width="50%">{TOTALCOUNT}</td>
</tr>
</table>
