<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />
<script type="text/javascript">
//Our select all toggle.
function toggleChecked(status) {
	$(".PM-MsgList input").attr('checked',status);
}

$(document).ready(function() {

	//see what was clicked and then do something.
	$('.PM-MsgList a').click(function(e){
		e.preventDefault(); //we don't want to leave this page.

		var PMID = $(this).attr("id");

		//get our selected Message.
		$.ajax({
			type: "get", url: "quicktools/pm.ajax.php?action=viewMsg", data: "id="+ PMID,
			success: function(html){ //so, if data is retrieved, store it in html
				$("#PM-messages").html(html); //show the html inside .content div
			}, error: function(xhr, tStat, err){
				var msg = lang.jsError + ": ";
				FormResults("error", msg + xhr.status + " " + xhr.statusText);
			}
		}); //close $.ajax(
	});

});//END document.
</script>

<p class="ui-widget-content" style="width:150px;">
<b>{LANG-PMRULE}</b>&nbsp;{PMRULE}<br />
<b>{LANG-CURRENTAMOUNT}</b>&nbsp;<img src="template/simple2/images/bar.gif" height="8" width="{CURRENTAMOUNT}%" alt="{CURRENTAMOUNT}%" title="{CURRENTAMOUNT}%" />&nbsp;{CURRENTAMOUNT}%
</p>

<div align="center" class="ui-widget-content"><a href="Profile.php#/PM/Inbox">{LANG-INBOX}</a> - <a href="Profile.php#/PM/Outbox">{LANG-OUTBOX}</a> - <a href="Profile.php#/PM/Archive">{LANG-ARCHIVE}</a></div><br />
<div id="PM-messages"></div>
<hr />
<div class="ui-widget-content">
	<input type="checkbox" onclick="toggleChecked(this.checked)" />Select/Deselect All &nbsp;<a href="#" id="cmdDeleteSelected">Delete Selected</a>
</div>
<div id="pmList">

<!-- START noresults -->
<div class="ui-widget-content">
	<span style="text-align:center;">{LANG-NOPM}</span>
</div>
<!-- END noresults -->
