<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; <a href="PM.php">{LANG-TITLE}</a> &#187; {LANG-BANLIST}</div><br />

<p class="ui-widget-content">{TEXT}</p>

<a href="PM.php?action=ban" class="td2">{LANG-BANUSER}</a><br /><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" width="50%">{LANG-BANNEDUSER}</td>
<td class="ui-widget-header" width="50%">{LANG-DELETE}</td>
</tr>
<!-- START noresults -->
<tr>
<td class="ui-widget-content" colspan="2" align="center">{LANG-NOBAN}</td>
</tr>
<!-- END noresults -->
