<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-MANAGEATTACHMENTS}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1" id="attachment">
<tr style="text-align:center;">
<td class="ui-widget-header" width="5%">&nbsp;</td>
<td class="ui-widget-header" width="40%">{LANG-FILENAME}</td>
<td class="ui-widget-header" width="10%">{LANG-FILESIZE}</td>
<td class="ui-widget-header" width="40%">{LANG-POSTEDIN}</td>
</tr>
