/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.bbcode .markItUpButton1 a	{
	background-image:url(../../template/simple2/images/bold.png);
}
.bbcode .markItUpButton2 a	{
	background-image:url(../../template/simple2/images/italic.png);
}
.bbcode .markItUpButton3 a	{
	background-image:url(../../template/simple2/images/underline.png);
}

.bbcode .markItUpButton4 a	{
	background-image:url(../../template/simple2/images/subscript.png);
}
.bbcode .markItUpButton5 a	{
	background-image:url(../../template/simple2/images/superscript.png);
}

.bbcode .markItUpButton6 a	{
	background-image:url(../../template/simple2/images/picture.png);
}
.bbcode .markItUpButton7 a	{
	background-image:url(../../template/simple2/images/link.png);
}

.bbcode .markItUpButton8 a {
	background-image:url(../../template/simple2/images/colors.png);
}

	.bbcode .markItUpButton8 ul {
		width:81px;
		padding:1px;
	}
	.bbcode .markItUpButton8  li {
		border:1px solid white;
		width:25px;	height:25px;
		overflow:hidden;
		padding:0px; margin:0px;
		float:left;
	}
	.bbcode .markItUpButton8 ul a {
		width:25px;	height:25px;
	}
	.bbcode .markItUpButton8 ul a:hover {
		background-color:none;
	}

	.bbcode .markItUpButton8 .col1-1 a {
		background:#FCE94F;
	}
	.bbcode .markItUpButton8 .col1-2 a {
		background:#EDD400;
	}
	.bbcode .markItUpButton8 .col1-3 a {
		background:#C4A000;
	}

	.bbcode .markItUpButton8 .col2-1 a {
		background:#FCAF3E;
	}
	.bbcode .markItUpButton8 .col2-2 a {
		background:#F57900;
	}
	.bbcode .markItUpButton8 .col2-3 a {
		background:#CE5C00;
	}

	.bbcode .markItUpButton8 .col3-1 a {
		background:#E9B96E;
	}
	.bbcode .markItUpButton8 .col3-2 a {
		background:#C17D11;
	}
	.bbcode .markItUpButton8 .col3-3 a {
		background:#8F5902;
	}

	.bbcode .markItUpButton8 .col4-1 a {
		background:#8AE234;
	}
	.bbcode .markItUpButton8 .col4-2 a {
		background:#73D216;
	}
	.bbcode .markItUpButton8 .col4-3 a {
		background:#4E9A06;
	}

	.bbcode .markItUpButton8 .col5-1 a {
		background:#729FCF;
	}
	.bbcode .markItUpButton8 .col5-2 a {
		background:#3465A4;
	}
	.bbcode .markItUpButton8 .col5-3 a {
		background:#204A87;
	}

	.bbcode .markItUpButton8 .col6-1 a {
		background:#AD7FA8;
	}
	.bbcode .markItUpButton8 .col6-2 a {
		background:#75507B;
	}
	.bbcode .markItUpButton8 .col6-3 a {
		background:#5C3566;
	}

	.bbcode .markItUpButton8 .col7-1 a {
		background:#EF2929;
	}
	.bbcode .markItUpButton8 .col7-2 a {
		background:#CC0000;
	}
	.bbcode .markItUpButton8 .col7-3 a {
		background:#A40000;
	}

	.bbcode .markItUpButton8 .col8-1 a {
		background:#FFFFFF;
	}
	.bbcode .markItUpButton8 .col8-2 a {
		background:#D3D7CF;
	}
	.bbcode .markItUpButton8 .col8-3 a {
		background:#BABDB6;
	}

	.bbcode .markItUpButton8 .col9-1 a {
		background:#888A85;
	}
	.bbcode .markItUpButton8 .col9-2 a {
		background:#555753;
	}
	.bbcode .markItUpButton8 .col9-3 a {
		background:#000000;
	}
	
.bbcode .markItUpButton9 a	{
	background-image:url(../../template/simple2/images/fonts.png);
}

.bbcode .markItUpButton10 a	{
	background-image:url(../../template/simple2/images/alignment.png);
}

.bbcode .markItUpButton11 a	{
	background-image:url(../../template/simple2/images/list-bullet.png);
}
.bbcode .markItUpButton12 a	{
	background-image:url(../../template/simple2/images/list-numeric.png);
}
.bbcode .markItUpButton13 a	{
	background-image:url(../../template/simple2/images/list-item.png);
}

.bbcode .markItUpButton14 a	{
	background-image:url(../../template/simple2/images/quotes.png);
}
.bbcode .markItUpButton15 a	{
	background-image:url(../../template/simple2/images/code.png);
}

.bbcode .markItUpButton16 a{
	background-image:url(../../template/simple2/images/youtube.png);
}

.bbcode .attach a{
	background-image:url(../../template/simple2/images/attachment.png);
}

.bbcode .markItUpButton18 a	{
	background-image:url(../../template/simple2/images/clean.png);
}

.bbcode .spellChk a{
	background-image:url(../../template/simple2/images/spell-check.png);
}

.bbcode .preview a {
	background-image:url(../../template/simple2/images/preview.png);
}
