<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr class="ui-widget-header">
<th width="50%">::{LANG-BOARDSTAT}::</th><th width="50%">::{LANG-ICONGUIDE}::</th>
</tr><tr>
<td class="ui-widget-content">
{LANG-NEWESTMEMBER}: {NEWESTMEMBER}<br />
<b>{TOTAL-TOPIC}</b> {LANG-TOTALTOPIC} / <b>{TOTAL-POST}</b> {LANG-TOTALPOST} / <b>{TOTAL-USER}</b> {LANG-TOTALUSER}</td>
<td class="ui-widget-content"><img src="template/simple2/images/new.gif" alt="{LANG-NEWPOST}" />{LANG-NEWPOST}<br /><img src="template/simple2/images/old.gif" alt="{LANG-OLDPOST}" />{LANG-OLDPOST}</td>
</tr>
</table><br />