<table border="0" class="table" cellspacing="1" cellpadding="3">
<tr>
<td align="center" class="td">
<!-- START clearList -->
[<a href="#" onclick="confirmDlg('{LANG-DELPROMPT}', '{BOARDDIR}/acp/acp_log.php?mode=clear');return false;">{LANG-CLEARLIST}</a>]
<!-- END clearList -->
<table border="0" class="table" cellspacing="1" cellpadding="1">
</tr><tr>
<td class="ui-widget-header" align="center"><b>{LANG-ACPLOG}</b></td>
</tr><tr>
<td class="ui-widget-content">{ACPLOG}</td>
</tr>
</table>
<p align="center" class="td">[<a href="javascript:self.close();">{LANG-CLOSE}</a>]</p>
