<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-ATTACHMENTSETTINGS}</div><br />

<!-- main settings form -->
<form method="post" action="acpsettings.php?section=save_attachment">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-ATTACHMENTSETTINGS}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-ATTACHMENTQUOTA}<a href="#" class="hint">[?]<span>{LANG-ATTACHMENTQUOTATXT}</span></a></td>
<td class="ui-widget-content" width="50%"><input type="text" name="attach_quota" size="30" value="{ATTACHMENTQUOTA}" class="text" id="maxupload" onblur="validateNumeric('maxupload', 'maxuploaderr');" /><div id="maxuploaderr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-DOWNLOADRULE}</td>
<td class="ui-widget-content" width="50%">
<!-- START allowGuestDwnld -->
<input type="radio" name="download_stat" value="1" class="text" checked=checked />{LANG-YES} <input type="radio" name="download_stat" value="0" class="text" />{LANG-NO}
<!-- END allowGuestDwnld -->

<!-- START disallowGuestDwnld -->
<input type="radio" name="download_stat" value="1" class="text" />{LANG-YES} <input type="radio" name="download_stat" value="0" class="text" checked=checked />{LANG-NO}
<!-- END disallowGuestDwnld -->
</td>
</tr><tr>
<td colspan="2" align="center" class="ui-widget-header"><input type="submit" Value="{LANG-SAVESETTINGS}" class="submit"></td>
</tr>
</table>
</form><br />

<!-- whitelist form -->
<form method="post" action="acpsettings.php?section=save_attachmentlist">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-ATTACHMENTWHITELIST}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-ATTACHMENTWHITELISTTXT}<a href="#" class="hint">[?]<span>{LANG-ATTACHMENTWHITELISTHINT}</span></a></td>
<td class="ui-widget-content" width="50%"><input type="text" name="add_ext" size="10" class="text" id="entension" onblur="validateNotNull('entension', 'extensionerr');" /><div id="extensionerr"></div></td>
</tr><tr>
<td colspan="2" align="center" class="ui-widget-header"><input type="submit" Value="{LANG-ADDEXTENSION}" class="submit"></td>
</tr>
</table>
<input type="hidden" name="cmd" value="addext" />
</form><br />

<!-- whitelist remover form -->
<form method="post" action="acpsettings.php?section=save_attachmentlist">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-REMOVEATTACHMENTWHITELIST}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-REMOVEATTACHMENTWHITELISTHINT}</td>
<td class="ui-widget-content" width="50%">{EXTENSIONLIST}</td>
</tr><tr>
<td colspan="2" align="center" class="ui-widget-header"><input type="submit" Value="{LANG-REMOVEEXTENSION}" class="submit"></td>
</tr>
</table>
<input type="hidden" name="cmd" value="removeext" />
</form><br />
