<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-ACTIVATEUSER}</div><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" width="33%">&nbsp;</td>
<td class="ui-widget-header" width="34%" align="center">{LANG-USERNAME}</td>
<td class="ui-widget-header" width="33%" align="center">{LANG-JOINDATE}</td>
</tr>
<!-- START noResults -->
<tr>
<td class="ui-widget-content" colspan="3" align="center">{LANG-NOINACTIVEUSER}</td>
</tr>
<!-- END noResults -->
