<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-BANLIST}</div><br />

<p class="td2">{LANG-TEXT}</p>
<!-- EMAIL BANLIST -->
<form method="post" action="usercp.php?action=ban_add"">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-EMAILBAN}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-BANEMAILTXT}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="emailbanning" size="30" class="text" id="emailban" onblur="validateEmail('emailban', 'emailbanerr');" /><div id="emailbanerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-MATCHTYPETXT}</td>
<td class="ui-widget-content" width="50%"><input type="radio" name="match_type" value="Exact" class="text" />{LANG-EXACTMATCH}&nbsp;<input type="radio" name="match_type" value="Wildcard" class="text" />{LANG-WILDCARDMATCH}</td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit" /></td>
</tr>
</table>
<input type="hidden" name="type" value="Email" />
</form><br />
<!-- UNBAN EMAIL FORM -->
<form method="post" action="usercp.php?action=ban_remove">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-UNBANEMAIL}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-UNBANEMAILTXT}</td>
<td class="ui-widget-content" width="50%">{BANLIST-EMAIL}</td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit" /></td>
</tr>
</table>
<input type="hidden" name="type" value="Email" />
</form><br />
<!-- BAN IP FORM -->
<form method="post" action="usercp.php?action=ban_add">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-BANIP}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-BANIPTXT}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="ipbanning" size="30" class="text" id="ipban" onblur="validateNotNull('ipban', 'ipbanerr');" /><div id="ipbanerr"></div></td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit" /></td>
</tr>
</table>
<input type="hidden" name="type" value="IP" />
</form><br />
<!-- UNBAN IP FORM -->
<form method="post" action="usercp.php?action=ban_remove">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-UNBANIP}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-UNBANIPTXT}</td>
<td class="ui-widget-content" width="50%">{BANLIST-IP}</td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit" /></td>
</tr>
</table>
<input type="hidden" name="type" value="IP" />
</form><br />
