<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-CENSORLIST}</div><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" width="32%">&nbsp;</td>
<td class="ui-widget-header" width="34%" align="center">{LANG-ORIGINALWORD}</td>
<td class="ui-widget-header" width="34%" align="center">{LANG-CENSORACTION}</td>
</tr>
<!-- START noResults -->
<tr>
<td class="ui-widget-content" align="center" colspan="3">{LANG-EMPTYCENSOR}</td>
</tr>
<!-- END noResults -->