<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-MAILSETTINGS}</div><br />

<form method="post" action="acpsettings.php?section=save_mail">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" align="center" class="ui-widget-header">{LANG-MAILSETTINGS}</td>
</tr><tr>
<td class="ui-widget-content">{LANG-MAILTYPE}</td>
<td class="ui-widget-content">
<!-- START smtp -->
<input type="radio" name="mail_type" value="0" class="text" checked=checked />{LANG-SMTP} <input type="radio" name="mail_type" value="1" class="text" />{LANG-MAIL}
<!-- END smtp -->

<!-- START mail -->
<input type="radio" name="mail_type" value="0" class="text" />{LANG-SMTP} <input type="radio" name="mail_type" value="1" class="text" checked=checked />{LANG-MAIL}
<!-- END mail -->
</td>
</tr><tr>
<td class="ui-widget-content">{LANG-HOST}</td>
<td class="ui-widget-content"><input type="text" name="smtp_host" size="30" value="{HOST}" class="text" id="smtphost" onblur="validateNotNull('smtphost', 'smtphosterr');" /><div id="smtphosterr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-PORT}</td>
<td class="ui-widget-content"><input type="text" name="smtp_port" size="5" value="{PORT}" class="text" maxlength="4" id="smtpport" onblur="validateNotNull('smtpport', 'smtpporterr');" /><div id="smtpporterr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-USERNAME}</td>
<td class="ui-widget-content"><input type="text" name="smtp_user" size="30" value="{USERNAME}" class="text" id="smtpuser" onblur="validateNotNull('smtpuser', 'smtpusererr');" /><div id="smtpusererr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-PASSWORD}</td>
<td class="ui-widget-content"><input type="text" name="smtp_pass" size="30" value="{PASSWORD}" class="text" id="smtppwd" onblur="validateNotNull('smtppwd', 'smtppwderr');" /><div id="smtppwderr"></div></td>
</tr><tr>
<td colspan="2" align="center" class="ui-widget-header"><input type="submit" Value="{LANG-SAVESETTINGS}" class="submit"></td>
</tr>
</table>
</form><br />
