<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-MODIFYSMILES}</div><br />

<form method="post" action="generalcp.php?action=modify_smiles_process&id={ID}" onsubmit="return acp_validate(ftype);">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-MODIFYSMILES}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-SMILECODE}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="smile_code" size="30" value="{SMILECODE}" class="text" id="code" /><div id="codeerr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-SMILEFILE}</td>
<td class="ui-widget-content"><input type="text" name="smile_file" size="30" value="{SMILEFILE}" class="text" id="image" /><div id="imageerr"></div></td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-MODIFYSMILES}" class="submit" /></td>
</tr>
</table>
</form><br />
