<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{PAGETITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="../template/simple2/style.css" />
<link rel="stylesheet" type="text/css" href="../template/simple2/ui.css" />
<link rel="shortcut icon" href="../template/simple2/images/favicon.ico" />
</head>
<body>
<!-- No javascript? let user know its required. -->
<noscript>
<div class="ui-widget-content">
<p style="font-weight:bold">{LANG-INFO}</p>
<p>{LANG-JSDISABLED}</p>
</div>
</noscript>

<p class="ui-widget-content">{LANG-TEXT}</p>

{MODINSTALL-LIST}

<p align="center" class="ui-widget-content">[<a href="javascript:self.close();">{LANG-CLOSEWINDOW}</a>]</p>
</body>
</html>
