<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-CREATEGROUP}</div><br />

<form method="post" action="groupcp.php?action=new_group_process">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-CREATEGROUP}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPNAME}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="group" size="30" class="text" maxlength="30" id="groupname" onblur="validateNotNull('groupname', 'groupnameerr');" /><div id="groupnameerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPDESCRIPTION}</td>
<td class="ui-widget-content" width="50%"><textarea name="description" rows="3" cols="50" wrap="soft" class="text" id="groupdesc" onblur="validateNotNull('groupdesc', 'groupdescerr');"></textarea><div id="groupdescerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPSTATUS}</td>
<td class="ui-widget-content" width="50%"><input type="radio" name="status" value="0" />{LANG-CLOSE}&nbsp;<input type="radio" name="status" value="1" />{LANG-OPEN}&nbsp;<input type="radio" name="status" value="2" />{LANG-HIDDEN}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPACCESS}</td>
<td class="ui-widget-content" width="50%"><select name="groupaccess" class="text" id="grouplevel" onblur="validateNotNull('grouplevel', 'grouplevelerr');">
<option value="">{LANG-SEL-LEVEL}</option>
<option value="1">{LANG-LEVEL-1}</option>
<option value="2">{LANG-LEVEL-2}</option>
<option value="3">{LANG-LEVEL-3}</option>
</select><div id="grouplevelerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-GROUPPROFILE}<a href="#" class="hint">[?]<span>{LANG-GROUPPROFILEHINT}</span></a></td>
<td class="ui-widget-content" width="50%">{GROUPPROFILE}
</select></td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-ADDGROUP}" class="submit" /></td>
</tr>
</table>
</form><br />
