<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187;
{LANG-ADDSMILES}</div><br />

<form method="post" action="generalcp.php?action=add_smiles_process" onsubmit="return acp_validate(ftype);">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-ADDSMILES}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-SMILECODE}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="smile_code" size="30" class="text" id="code" onblur="validateLength('code', 'codeerr', 30);" /><div id="codeerr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-SMILEFILE}</td>
<td class="ui-widget-content"><input type="text" name="smile_file" size="30" class="text" id="image" onblur="validateLength('image', 'imageerr', 80);" /><div id="imageerr"></div></td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-ADDSMILES}" class="submit" /></td>
</tr>
</table>
</form><br />
