<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-NEWSLETTER}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<form action="generalcp.php?action=mail_send" method="post">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-NEWSLETTER}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-SUBJECT}</td>
<td class="ui-widget-content" width="50%"><input type="text" name="subject" class="text" size="30" id="subject" onblur="validateNotNull('subject', 'subjecterr');" /><div id="subjecterr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-MESSAGE}</td>
<td class="ui-widget-content" width="50%"><textarea name="mail_message" rows="8" cols="70" wrap="soft" class="text" id="msg" onblur="validateNotNull('msg', 'msgerr');"></textarea><div id="msgerr"></div></td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-SENDNEWSLETTER}" class="submit" /></td>
</tr>
</table>
</form><br />
