<script type="text/javascript" src="../includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-GROUPPENDINGLIST}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="5" class="ui-widget-header">::{LANG-PENDINGLIST}::</th>
</tr><tr>
<td class="ui-widget-header" width="20%">&nbsp;</td>
<td class="ui-widget-header" width="20%">&nbsp;</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-USERNAME}</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-POSTCOUNT}</td>
<td class="ui-widget-header" width="20%" align="center">{LANG-REGISTRATIONDATE}</td>
</tr>
<!-- START noresults -->
<tr>
<td class="ui-widget-content" colspan="5" align="center">{LANG-NOPENDING}</td>
</tr>
<!-- END noresults -->
