<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187;
{LANG-SMILES}</div><br />

<a href="generalcp.php?action=add_smiles" class="td2">{LANG-ADDSMILES}</a><br /><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" width="25%">&nbsp;</td>
<td class="ui-widget-header" width="25%" align="center">{LANG-SMILE}</td>
<td class="ui-widget-header" width="25%" align="center">{LANG-CODE}</td>
<td class="ui-widget-header" width="25%" align="center">{LANG-FILENAME}</td>
</tr>
