<br /><div class="ui-widget-content"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-USERPRUNE}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" align="center">{LANG-USERPRUNE}</td>
</tr><tr>
<td class="ui-widget-content" align="center">[<a href="usercp.php?action=process_user_pruning">{LANG-BEGINPRUNE}</a>]</td>
</tr>
</table>
<p class="ui-widget-content"><b>{LANG-PRUNEWARNING}</b></p>
