<script type="text/javascript" src="includes/js/validation.js"></script>
<script type="text/javascript" src="includes/js/bbcode.js"></script>
<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-EDITSIG}</div><br />
<p class="ui-widget-content">{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header">{LANG-CURRENTSIG}</td>
</tr><tr>
<td class="ui-widget-content">{CURRENTSIG}</td>
</tr>
</table><br />
<form method="post" action="#/ucp/saveSignature" id="UpdateSignature">
<table width="100%" border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" align="center" class="ui-widget-header">{BBCODE}</td>
</tr><tr>
<td class="ui-widget-content" align="center" width="20%">{SMILES}<br />
<a href="#" OnClick="open_win('smiles.php', 455, 200);">{LANG-SMILES}</a></td>
<td align="center" class="ui-widget-header" width="80%"><textarea name="signature" rows="5" cols="50" wrap="soft" class="text" id="sig" onblur="validateLength('sig', 'sigerr', 255);">{SIGNATURE}</textarea><div id="sigerr"></div></td>
<tr>
<td colspan="2" align="center" class="ui-widget-header"><input type="submit" value="{LANG-SAVESIG}" class="submit" /></td>
</tr>
</table>
</form>
