<script type="text/javascript" src="includes/js/validation.js"></script>
<script type="text/javascript" src="includes/js/pwdTester.js"></script>
<script type="text/javascript">
//init. our password strength script.
$.fn.passwordStrength.defaults = {
	classes : Array('pwd10','pwd20','pwd30','pwd40','pwd50','pwd60','pwd70','pwd80','pwd90','pwd100'),
	targetDiv : '#passwordStrengthRes',
	cache : {}
}

$(document).ready(function(){
	$('#npwd').passwordStrength();
});
</script>
<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-EDITPASS}</div>

<div align="center"><p id="info"><img src="images/info.gif" alt="" />{LANG-TEXT}</p></div>

<form method="post" action="#/ucp/updatePassword" id="updatePassword">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" colspan="2" align="center">{LANG-EDITPASS}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-CURRPASS}</td>
<td class="ui-widget-content" width="50%"><input type="password" name="curpass" class="text" size="30" id="cpwd" onblur="validateNotNull('cpwd', 'curpwderr');" /><div id="curpwderr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-NEWPASS}</td>
<td class="ui-widget-content" width="50%"><input type="password" name="newpass" class="text" size="30" id ="npwd" onblur="validateNotNull('npwd', 'newpwderr');" />
<div id="passwordStrengthRes" class="pwd0"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-CONFIRMPASS}</td>
<td class="ui-widget-content" width="50%"><input type="password" name="confirmpass" class="text" size="30" id="vpwd" onblur="validateNotNull('vpwd', 'vpwderr');" /><div id="vpwderr"></div></td>
</tr><tr>
<td class="ui-widget-header" colspan="2" align="center"><input type="submit" value="{LANG-UPDATEPASS}" id="formSubmit" class="submit" /></td>
</tr>
</table>
</form><br />
