<script type="text/javascript" src="includes/js/jPanels.js"></script>
<script type="text/javascript" src="includes/js/jquery.jUploader.js"></script>
<script type="text/javascript" src="includes/js/jquery.spellchecker.js"></script>
<!-- markItUp! -->
<script type="text/javascript" src="includes/js/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="includes/js/set.js"></script>
<!-- API detection -->
<script type="text/javascript" src="includes/js/validateAPI.js"></script>
<!-- Rich text editor file -->
<script type="text/javascript" src="includes/js/tEditor.js"></script>
<!-- call our collapsible panel -->
<script type="text/javascript">
$(function(){
	$("#optionBox").jPanels();
	//$("#pollBox").jPanels();
});
</script>
<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<!-- warning container -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<strong>Alert:</strong>&nbsp;<span id="ErrMsg"></span></p>
		</div>
	</div>
</div>
<div id="moreSmiles"></div>
<div id="DLG_upload">
	<!--START upload -->
	<form action="upload.php?id={TID}" method="post" enctype="multipart/form-data">
		<input id="attach" name="attachment" type="file" /><br />
		<input type="submit" value="{LANG-UPLOAD}" id="fileUpload" />
		<input type="reset" value="{LANG-CLEAR}" id="ClearList" />
		<input type="button" value="{LANG-VIEWFILES}" id="AttachList" />
	</form>
	<div id="filelist"></div>

	<script type="text/javascript">

		$(function(){
			$('#attach').jUploader({LoadingGfx: "template/simple2/images/loading.gif",
				LoadingMsg: lang.attachLoading, PendingMsg: lang.attachPending,
				SuccessMsg: lang.attachSuccess, FailureMsg: lang.attachFailed,
				uploadLimitMsg: lang.attachLimit, uploadLimit: "{ATTACHMENTLIMIT}"});
		});
	</script>
	<!--END upload -->
</div>

<form method="post" action="edit.php?mode=edit_topic&amp;bid={BID}&amp;tid={TID}">
<div align="center">


<div id="emoticons" style="width:500px;" align="center">
{SMILES}
</div>
<div class="ui-widget-header" style="width:400px;text-align:left;">
{LANG-TOPIC}:&nbsp;<input type="text" name="topic" value="{TOPIC}" class="text" size="30" id="topic" /><div id="topicerr"></div>
</div>
<textarea id="body" name="body" cols="80" rows="20">{BODY}</textarea>
<br /><input type="submit" value="{LANG-EDITTOPIC}" class="submit" />

<div id="optionBox" title="{LANG-OPTIONS}" style="width:400px;text-align:left;">
<div class="pContent">
<a href="#editor" class="toggle"><span>{LANG-DISABLERTF}</span></a> -  <a href="#smiles" onclick="$('#moreSmiles').dialog('open');">{LANG-SMILES}</a><br />
<!-- START important -->
{LANG-POSTTYPE}:&nbsp;<input type="radio" name="post_type" value="1" class="text" checked=checked />{LANG-IMPORTANT}&nbsp;<input type="radio" name="post_type" value="0" />{LANG-NORMAL}<br />
<!-- END important -->

<!-- START normal -->
{LANG-POSTTYPE}:&nbsp;<input type="radio" name="post_type" value="1" class="text" />{LANG-IMPORTANT}&nbsp;<input type="radio" name="post_type" value="0" checked=checked />{LANG-NORMAL}<br />
<!-- END normal -->

<!-- START subscribed -->
<input type="checkbox" name="subscribe" value="yes" class="text" checked=checked />{LANG-NOTIFY}<br />
<!-- END subscribed -->

<!-- START subscribe -->
<input type="checkbox" name="subscribe" value="yes" class="text" />{LANG-NOTIFY}<br />
<!-- END subscribe -->

<!-- START disabledsmiles -->
<input type="checkbox" name="no_smile" value="1" class="text" checked=checked />{LANG-DISABLESMILES}<br />
<!-- END disabledsmiles -->

<!-- START disablesmiles -->
<input type="checkbox" name="no_smile" value="1" class="text" />{LANG-DISABLESMILES}<br />
<!-- END disablesmiles -->

<!-- START disabledbbcode -->
<input type="checkbox" name="no_bbcode" value="1" class="text" checked=checked />{LANG-DISABLEBBCODE}<br />
<!-- END disabledbbcode -->

<!-- START disablebbcode -->
<input type="checkbox" name="no_bbcode" value="1" class="text" />{LANG-DISABLEBBCODE}<br />
<!-- END disablebbcode -->
</div>
</div>
</form><br />
</div>