<tr>
<td class="ui-widget-content" align="center">{POSTICON}</td>
<td class="ui-widget-content"><b><a href="viewboard.php?bid={BOARDID}">{BOARDNAME}</a></b>&nbsp;<a href="rssfeed.php?bid={BOARDID}" target="_blank"><img src="template/simple2/images/rss.png" alt="{LANG-RSS}" title="{LANG-RSS}" /></a><br />{BOARDDESCRIPTION}<br />{SUBBOARDS}</td>
<td class="ui-widget-header" align="center">{TOPICCOUNT}</td>
<td class="ui-widget-header" align="center">{POSTCOUNT}</td>
<td class="ui-widget-content">{POSTDATE}<br />{POSTLINK}</td>
</tr>
