<ul id="mainNav" class="fiveStep">
	<li class="done"><a title=""><em>Step 1: Configuration</em><span>Create Configuration File</span></a></li>
	<li class="lastDone"><a title=""><em>Step 2: SQL Dump</em><span>Create Tables &amp; Default data</span></a></li>

	<li class="current"><a title=""><em>Step 3: Setup Board</em><span>Configure Board</span></a></li>

	<li><a title=""><em>Step 4: Account</em><span>Create Administrator</span></a></li>
	<li class="mainNavNoBg"><a title=""><em>Step 5: Board Setup</em> <span>Create Category/Board</span></a></li>
</ul>

<div class="clearfloat">&nbsp;</div>

<h4 class="ui-widget-content">This is where you set the board's settings to make it function correctly. The list below is only the main settings, you may alter the board more once your done with the setup.</h4>

<form method="post" action="#/install/SaveConfig" id="configBoard">
<div class="ui-widget-header">Configure Board</div>
<div class="ui-widget-content">
Board Name<br /><input type="text" name="board_name" size="30" class="text">
<hr />
Site Address<a href="#" class="hint">[?]<span>example: http://mysite.com</span></a><br />
<input type="text" name="site_address" size="30" class="text">
<hr />
Board Address<a href="#" class="hint">[?]<span>example: http://mysite.com/board</span></a><br />
<input type="text" name="board_address" size="30" class="text">
<hr />
Board Email<br />
<input type="text" name="board_email" size="30" class="text">
<hr />
CAPTCHA Verification<a href="#" class="hint">[?]<span>Requires GD enabled.</span></a><br />
<input type="radio" name="captcha_stat" value="1">On <input type="radio" name="captcha_stat" value="0" />Off
<hr />
Registration Status<br />
<input type="radio" name="reg_stat" value="1" />On <input type="radio" name="reg_stat" value="0" />Off
<hr />
Activation Type<br />
<input type="radio" name="active_stat" value="None">None <input type="radio" name="active_stat" value="User">User <input type="radio" name="active_stat" value="Admin">Admin
<hr />
Default Time Zone<br />{TIMEZONE}
<hr />
<div align="center" class="ui-widget-header">Cookie Options</div>
<hr />
Cookie Domain<a href="#" class="hint">[?]<span>example: mysite.com or board.mysite.com</span></a><br />
<input type="text" name="cookie_domain" value="{DOMAIN-DETECT}" size="30" class="text">
<hr />
Cookie Path<a href="#" class="hint">[?]<span>example: /board/</span></a><br />
<input type="text" name="cookie_path" size="30" value="{PATH-DETECT}" class="text">
<hr />
Cookie Secure<a href="#" class="hint">[?]<span>Must have SSL on your server to use this.</span></a><br />
<input type="radio" name="secure_stat" value="1">Enable <input type="radio" name="secure_stat" value="0">Disable
<hr />
<div align="center" class="ui-widget-header">Mail Settings</div>
<hr />
Mail Type<br />
<input type="radio" name="mail_type" value="0" />SMTP <input type="radio" name="mail_type" value="2" />Sendmail <input type="radio" name="mail_type" value="1" />Mail() method
<hr />
Mail Anti-flood<br />
<input type="text" name="mail_antiflood" size="30" class="text" />
<hr />
Sendmail Path<br />
<input type="text" name="sendmail_path" size="30" class="text" />
<hr />
SMTP Host<br />
<input type="text" name="smtp_host" size="30" class="text">
<hr />
SMTP Port<br />
<input type="text" name="smtp_port" size="5" value="25" class="text" maxlength="4">
<hr />
SMTP Username<br />
<input type="text" name="smtp_user" size="30" class="text">
<hr />
SMTP Password<br />
<input type="text" name="smtp_pass" size="30" class="text">
<hr />
SMTP Encryption <a href="#" class="hint">[?]<span>For SSL or TLS encryption to work your PHP installation must have appropriate OpenSSL transports wrappers.</span></a><br />
<input type="radio" name="encrption_type" value="ssl" />SSL <input type="radio" name="encrption_type" value="tls" />TLS <input type="radio" name="encrption_type" value="" />None
<hr />
<div align="center"><input type="submit" value="Save Settings" class="submit"></div>
</div>
</form><br />