<ul id="mainNav" class="fiveStep">
	<li class="done"><a title=""><em>Step 1: Configuration</em><span>Create Configuration File</span></a></li>

	<li class="done"><a title=""><em>Step 2: SQL Dump</em><span>Create Tables &amp; Default data</span></a></li>
	<li class="lastDone"><a title=""><em>Step 3: Setup Board</em><span>Configure Board</span></a></li>
	<li class="current"><a title=""><em>Step 4: Account</em><span>Create Administrator</span></a></li>
	<li class="mainNavNoBg"><a title=""><em>Step 5: Board Setup</em> <span>Create Category/Board</span></a></li>

</ul>

<div class="clearfloat">&nbsp;</div>

<form action="#/install/makeAdmin" id="createAdmin" method="post">
<div class="ui-widget-header">Create Administrator</div>
<div class="ui-widget-content">Email<br />
<input name="email" type="text" size="30" maxlength="225" class="text" />
<hr />
Username<a href="#" class="hint">[?]<span>Must contain only letters and numbers.</span></a><br />
<input name="username" type="text" size="30" maxlength="25" class="text" />
<hr />
Password<br />
<input name="password" type="password" size="30" id="pass" class="text" />
<hr />
Confirm Password<br />
<input name="vert_password" type="password" size="30" class="text" />
<hr />
Timezone<br />{TIMEZONE}
<hr />
Time Format<br />
<input type="text" name="time_format" value="M d Y g:i a" size="30" class="text" />
<hr />
Notify on new Private Messages<br />
<input type="radio" name="pm_notice" value="1" />Yes <input type="radio" name="pm_notice" value="0" />No
<hr />
Display Email to others<br />
<input type="radio" name="show_email" value="0" />Yes <input type="radio" name="show_email" value="1" />No
<hr />
<div align="center"><input type="submit" value="Create Administrator" class="submit" /></div>
</div>
</form><br />