<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<form method="post" action="auth.php">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">::{LANG-TITLE}::</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-USERNAME}<br />[<a href="register.php">{LANG-REGISTER}</a>]</td>
<td class="ui-widget-content" width="50%"><input type="text" name="username" class="text" size="30" id="usr" onblur="validateAlphaNumeric('usr', 'usrerr');" />
<div id="usrerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-PASSWORD}<br />[<a href="login.php?mode=lostpassword">{LANG-FORGOT}</a>]</td>
<td class="ui-widget-content" width="50%"><input type="password" name="password" class="text" size="30" id="pwd" onblur="validateAlphaNumeric('pwd', 'pwderr');" />
<div id="pwderr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-REMEMBER}</td>
<td class="ui-widget-content" width="50%"><input type="checkbox" name="auto_login" value="1" />{LANG-REMEMBERTXT}</td>
</tr><tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" value="{LANG-LOGIN}" class="submit" /></td>
</tr>
</table>
</form>
