<script type="text/javascript" src="includes/js/validation.js"></script>
<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<p class="ui-widget-content">{LANG-TEXT}</p>

<form method="post" action="manage.php?mode=warn_process&amp;bid={BID}&amp;tid={TID}">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="ui-widget-header" colspan="2" align="center">{LANG-SUBMIT}</td>
</tr><tr>
<td class="ui-widget-content">{LANG-WARNOPTION}</td>
<td class="ui-widget-content"><input type="radio" name="warnopt" value="10" /><span  class="raisewarn">{LANG-RAISEWARN}</span><br /><input type="radio" name="warnopt" value="-10" /><span class="lowerwarn">{LANG-LOWERWARN}</span></td>
</tr><tr>
<td class="ui-widget-content">{LANG-WARNREASON}</td>
<td class="ui-widget-content"><textarea name="reason" id="vreason" rows="5" cols="60" class="text" onblur="validateNotNull('vreason', 'reasonerr');"></textarea><div id="reasonerr"></div></td>
</tr><tr>
<td class="ui-widget-content">{LANG-SUSPENDIONLENGTH}<a href="#" class="hint">[?]<span>{LANG-SUSPENDHINT}</span></a></td>
<td class="ui-widget-content"><input type="text" name="suspend" size="5" class="text" value="{SUSPENDIONLENGTH}" /></td>
</tr><tr>
<td class="ui-widget-content">{LANG-CONTACTOPTION}</td>
<td class="ui-widget-content"><select name="contactopt" class="text">
<option value="None">{LANG-NOCONTACT}</option>
<option value="PM">{LANG-PMCONTACT}</option>
<option value="Email">{LANG-EMAILCONTACT}</option>
</select></td>
</tr><tr>
<td class="ui-widget-content">{LANG-CONTACT-TEXT}</td>
<td class="ui-widget-content"><textarea name="body" rows="5" cols="60" class="text" id="contactmsg"></textarea></td>
</tr><tr>
<td class="ui-widget-header" colspan="2" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit" /></td></tr>
</table>
<input type="hidden" name="user" value="{USER}" />
</form><br />
