<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-READPM}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-FROM}</td>
<td class="ui-widget-content" width="50%">{FROM}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-TO}</td>
<td class="ui-widget-content" width="50%">{TO}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-DATE}</td>
<td class="ui-widget-content" width="50%">{DATE}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-SUBJECT}</td>
<td class="ui-widget-content" width="50%">{SUBJECT}</td>
</tr><tr>
<td colspan="2" class="ui-widget-content">{PM-MESSAGE}<br><br>{SIGNATURE}</td>
</tr><tr>
<td colspan="2" class="ui-widget-content">
<input type="button" id="PMcmd-Delete" value="{LANG-DELETEPM}" title="{ID}" class="submit" />

<!-- START inbox -->
- <input type="button" id="PMcmd-Move" value="{LANG-MOVEPM}" title="{ID}" class="submit" />

<!-- START reply -->
- <input type="button" id="PMcmd-Reply" value="{LANG-REPLY}" title="{ID}" class="submit" />
<!-- END reply -->

<!-- END inbox -->
</td>
</table><br />