<script type="text/javascript" src="includes/js/jPanels.js"></script>
<script type="text/javascript" src="includes/js/jquery.jUploader.js"></script>
<script type="text/javascript" src="includes/js/jquery.spellchecker.js"></script>
<!-- markItUp! -->
<script type="text/javascript" src="includes/js/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="includes/js/set.js"></script>
<!-- API detection -->
<script type="text/javascript" src="includes/js/validateAPI.js"></script>
<!-- Rich text editor file -->
<script type="text/javascript" src="includes/js/tEditor.js"></script>
<!-- call our collapsible panel -->
<script type="text/javascript">
$(function(){
	$("#optionBox").jPanels();
	$("#pollBox").jPanels();
});
</script>

<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; <a href="viewboard.php?bid={BID}">{POSTINGBOARD}</a> &#187; {LANG-TITLE}</div><br />

<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td class="ui-widget-header" align="center">{LANG-POSTINGRULES}</td>
</tr><tr>
<td class="ui-widget-content" align="center">{LANG-ALLOWSMILES}: <b>{ALLOWSMILES}</b> &nbsp;|&nbsp;{LANG-ALLOWBBCODE}: <b>{ALLOWBBCODE}</b> &nbsp;|&nbsp;{LANG-ALLOWIMG}: <b>{ALLOWIMG}</b></td>
</tr>
</table><br />

<!-- Similar Topic results. -->
<div style="display:none;" id="div_notice">
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_notice').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
            <div id="smloading"><img src="./template/simple2/images/smloader.gif" /></div>
			<p><span class="ui-icon ui-icon-search" style="float: left; margin-right: .3em;"></span>
		    <div id="similar"></div>
		</div>
	</div>
</div>
<br />



<!-- warning container -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<strong>Alert:</strong>&nbsp;<span id="ErrMsg"></span></p>
		</div>
	</div>
</div>
<div id="moreSmiles"></div>
<div id="DLG_upload">
	<!--START upload -->
	<form action="upload.php" method="post" enctype="multipart/form-data">
		<input id="attach" name="attachment" type="file" /><br />
		<input type="submit" value="{LANG-UPLOAD}" id="fileUpload" />
		<input type="reset" value="{LANG-CLEAR}" id="ClearList" />
		<input type="button" value="{LANG-VIEWFILES}" id="AttachList" />
	</form>
	<div id="filelist"></div>

	<script type="text/javascript">

		$(function(){
			$('#attach').jUploader({LoadingGfx: "template/simple2/images/loading.gif",
				LoadingMsg: lang.attachLoading, PendingMsg: lang.attachPending,
				SuccessMsg: lang.attachSuccess, FailureMsg: lang.attachFailed,
				uploadLimitMsg: lang.attachLimit, uploadLimit: "{ATTACHMENTLIMIT}"});
		});
	</script>
	<!--END upload -->
</div>

<form method="post" action="Process.php?mode=topic&amp;bid={BID}&amp;polltopic={POLLOPTION}">
<div align="center">


<div id="emoticons" style="width:500px;" align="center">
{SMILES}
</div>
<div class="ui-widget-header" style="width:400px;text-align:left;">
{LANG-TOPIC}:&nbsp;<input type="text" name="topic" class="text" size="30" id="topic" /><div id="topicerr"></div>
</div>
<textarea id="body" name="post" cols="80" rows="20"></textarea>
<br /><input type="submit" value="{LANG-POSTTOPIC}" class="submit" />

<!-- START poll -->
<div id="pollBox" title="{LANG-POLL}" style="width:400px;text-align:left;">
<div class="pContent">
{LANG-QUESTION}<br />
<input type="text" name="question" id="question" class="text" size="30" /><div id="questionerr"></div>
<br />
{LANG-OPTION1}<br />
<input type="text" name="poll_otp1" id="opt1" class="text" size="30" /><div id="opt1err"></div>
<br />
{LANG-OPTION2}<br />
<input type="text" name="poll_otp2" id="opt2" class="text" size="30" /><div id="opt2err"></div>
<br />
{LANG-OPTION3}<br />
<input type="text" name="poll_otp3" id="opt3" class="text" size="30" /><div id="opt3err"></div>
<br />
{LANG-OPTION4}<br />
<input type="text" name="poll_otp4" id="opt4" class="text" size="30" /><div id="opt4err"></div>
<br />
{LANG-OPTION5}<br />
<input type="text" name="poll_otp5" id="opt5" class="text" size="30" /><div id="opt5err"></div>
<br />
{LANG-OPTION6}<br />
<input type="text" name="poll_otp6" id="opt6" class="text" size="30" /><div id="opt6err"></div>
<br />
{LANG-OPTION7}<br />
<input type="text" name="poll_otp7" id="opt7" class="text" size="30" /><div id="opt7err"></div>
<br />
{LANG-OPTION8}<br />
<input type="text" name="poll_otp8" id="opt8" class="text" size="30" /><div id="opt8err"></div>
<br />
{LANG-OPTION9}<br />
<input type="text" name="poll_otp9" id="opt9" class="text" size="30" /><div id="opt9err"></div>
<br />
{LANG-OPTION10}<br />
<input type="text" name="poll_otp10" id="opt10" class="text" size="30" /><div id="opt10err"></div>
</div>
</div>
<!-- END poll -->


<div id="optionBox" title="{LANG-OPTIONS}" style="width:400px;text-align:left;">
<div class="pContent">
<a href="#editor" class="toggle"><span>{LANG-DISABLERTF}</span></a> -  <a href="#smiles" onclick="$('#moreSmiles').dialog('open');">{LANG-SMILES}</a><br />
<!-- START important -->
{LANG-POSTTYPE}:&nbsp;<input type="radio" name="post_type" value="1" />{LANG-IMPORTANT}&nbsp;<input type="radio" name="post_type" value="0" />{LANG-NORMAL}
<!-- END important -->

<!-- START normal -->
<input type="hidden" name="post_type" value="0" />
<!-- END normal -->
<br />
<input type="checkbox" name="subscribe" value="1" />{LANG-NOTIFY}<br />
<input type="checkbox" name="no_smile" value="1" />{LANG-DISABLESMILES}<br />
<input type="checkbox" name="no_bbcode" value="1" />{LANG-DISABLEBBCODE}<br />
</div>
</div>
</form><br />
</div>