<script type="text/javascript" src="includes/js/validation.js"></script>
<script type="text/javascript" src="includes/js/pwdTester.js"></script>
<script type="text/javascript" src="includes/js/jquery.captchaRefresh.js"></script>
<script type="text/javascript">
//init. our password strength script.
$.fn.passwordStrength.defaults = {
	classes : Array('pwd10','pwd20','pwd30','pwd40','pwd50','pwd60','pwd70','pwd80','pwd90','pwd100'),
	targetDiv : '#passwordStrengthRes',
	cache : {}
}

$(document).ready(function(){
	$('#pwd').passwordStrength();

	//captcha reload.
	jQuery('#captchaReload').captchaRefresh({src: 'includes/captchaEngine.php'});
});
</script>
<br /><div class="ui-widget-content"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<form method="post" action="register.php?action=process">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header" align="center">{LANG-TITLE}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-EMAIL}</td>
<td class="ui-widget-content" width="50%"><input name="email" type="text" size="30" maxlength="255" class="text" id="email" onblur="validateEmail('email', 'emailerr');" /><div id="emailerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-USERNAME}<a href="#" class="hint">[?]<span>{LANG-RULE}</span></a></td>
<td class="ui-widget-content" width="50%"><input name="username" type="text" size="30" maxlength="25" class="text" id="usr" onblur="validateAlphaNumeric('usr', 'usrerr');" /><div id="usrerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-PASSWORD}</td>
<td class="ui-widget-content" width="50%"><input name="password" type="password" size="30" class="text" id="pwd" onblur="validateNotNull('pwd', 'pwderr');" /><div id="pwderr"></div>
<div id="passwordStrengthRes" class="pwd0"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-CORNFIRMPASSWORD}</td>
<td class="ui-widget-content" width="50%"><input name="vert_password" type="password" size="30" class="text" id="vpass" onblur="validateAlphaNumeric('vpass', 'vpasserr');" /><div id="vpasserr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-TIME}</td>
<td class="ui-widget-content" width="50%">{TIME}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-TIMEFORMAT}<a href="#" class="hint">[?]<span>{LANG-TIMEINFO}</span></a></td>
<td class="ui-widget-content" width="50%"><input type="text" name="time_format" value="{TIMEFORMAT}" size="30" maxlength="14" class="text" id="timeform" onblur="validateAlphaNumeric('timeform', 'timeformerr');" /><div id="timeformerr"></div></td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-PMNOTIFY}</td>
<td class="ui-widget-content" width="50%"><input type="radio" name="pm_notice" value="1" />{LANG-YES} <input type="radio" name="pm_notice" value="0" />{LANG-NO}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-SHOWEMAIL}</td>
<td class="ui-widget-content" width="50%"><input type="radio" name="show_email" value="0" />{LANG-YES} <input type="radio" name="show_email" value="1" />{LANG-NO}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-STYLE}</td>
<td class="ui-widget-content" width="50%">{STYLE}</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{LANG-LANGUAGE}</td>
<td class="ui-widget-content" width="50%">{LANGUAGE}</td>
</tr>
<!-- START captcha -->
<tr>
<td class="ui-widget-content" width="50%">{LANG-CAPTCHA}<a href="#" class="hint">[?]<span>{LANG-CAPTCHAHELP}</span></a></td>
<td class="ui-widget-content" width="50%"><input type="text" name="captcha" size="10" class="text" id="captcha" onblur="validateAlphaNumeric('captcha', 'captchaerr');" />&nbsp;<div id="captchaReload"><img src="includes/captchaEngine.php" id="captchaImg" alt="{LANG-RELOAD}" title="{LANG-RELOAD}" /></div>
<div id="captchaerr"></div></td>
</tr>
<!-- END captcha -->

<!-- START rules -->
<tr>
<td colspan="2" class="ui-widget-content" align="center">
<textarea name="tos_msg" rows="5" cols="40" class="text" readonly=readonly>{RULES}</textarea><br />
<input name="iagree" type="checkbox" value="yes" /><b>{LANG-AGREE}</b></td>
</tr>
<!-- END rules -->

<!-- START coppa -->
<tr>
<td colspan="2" class="ui-widget-content" align="center"><input name="coppavalid" type="checkbox" value="yes" /><b>{COPPA}</b></td>
</tr>
<!-- END coppa -->
<tr>
<td colspan="2" class="ui-widget-header" align="center"><input type="submit" VALUE="{SUBMIT}" class="submit" /></td>
</tr>
</table>
</form>
