<tr>
<td class="ui-widget-content" align="center">{POSTICON}</td>
<td class="ui-widget-content" class="td"><b><a href="viewboard.php?bid={BOARDID}">{BOARDNAME}</a></b>&nbsp;<a href="rssfeed.php?bid={BOARDID}" target="_blank"><img src="template/metallicthunder/images/rss.gif" alt="{LANG-RSS}" title="{LANG-RSS}" /></a><br />{BOARDDESCRIPTION}<br />{SUBBOARDS}</td>
<td class="ui-widget-header" align="center" class="td">{TOPICCOUNT}</td>
<td class="ui-widget-header" align="center" class="td">{POSTCOUNT}</td>
<td class="ui-widget-content" class="td">{POSTDATE}<br />{POSTLINK}</td>
</tr>
