<ul id="mainNav" class="fourStep">
	<li class="done"><a title=""><em>Step 1: Configuration</em><span>Create Configuration File</span></a></li>
	<li class="lastDone"><a title=""><em>Step 2: SQL Dump</em><span>Create Tables &amp; Default data</span></a></li>
	<li class="current"><a title=""><em>Step 3: Admin Password</em><span>Upgrade Password</span></a></li>
	<li class="mainNavNoBg"><a title=""><em>Step 4: User Password</em><span>Upgrade Password</span></a></li>
</ul>

<div class="clearfloat">&nbsp;</div>

<h3 class="ui-widget-content">Version 3 has a new password encryption setup. You will be required to enter a new password to get you in the new system.</h3>

<form action="#/upgrade-2/convertAdmin" id="convertAdmin" method="post">
<div class="ui-widget-header">Create Administrator</div>
<div class="ui-widget-content">
Password<br />
<input name="password" type="password" size="30" id="pass" class="text" />
<hr />
Confirm Password<br />
<input name="vert_password" type="password" size="30" class="text" />
<hr />
<div align="center"><input type="submit" value="Change Password" class="submit" /></div>
</div>
</form><br />